/node_modules
/public/hot
/public/storage
/public/pdf
/public/images
/public/pdf
/storage/*.key
/vendor
checkdefectrumah.zip
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
